*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef6ff; /**eef6ff*/
  color: #656566;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
